{% extends "base.html" %}

{% block htmltitle %}
  <title>Error 404</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Error 404: Something's wrong here...</h1>
        <p><img src="https://rowland007.github.io/Cyber-Playbook/static/images/404error-dilbert.jpg" alt="dilbert"></p>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <p><a class="md-button md-button--primary" href="https://rowland007.github.io/Cyber-Playbook/"><span class="twemoji"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.07 4.93C17.22 3 14.66 1.96 12 2c-2.66-.04-5.21 1-7.06 2.93C3 6.78 1.96 9.34 2 12c-.04 2.66 1 5.21 2.93 7.06C6.78 21 9.34 22.04 12 22c2.66.04 5.21-1 7.06-2.93C21 17.22 22.04 14.66 22 12c.04-2.66-1-5.22-2.93-7.07M17 12v6h-3.5v-5h-3v5H7v-6H5l7-7 7.5 7H17z"></path></svg></span> Go Back Home</a></p>
        </div>
      </div>  
{% endblock %}